.divider {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  
}

.divider h1 {
  font-size: 50px;
  font-family: "Abraham";
}

.divider h2 {
  font-size: xx-large;
  font-family: "Roboto-Slab";
}

.divider p {
  font-size: large;
  font-family: "Roboto-Slab";
}

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #26c6da;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: relative;
    font-size: 32px;
    display: inline;
  }

  .card-counter .count-name{
    position: relative;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: inline;
    font-size: 18px;
  }

/*Break*/

  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      /* border-top: 1px solid rgba(34, 36, 38, .1); */
      box-shadow: none;
      color: #FFF;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      /* box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5; */
      background-color: #15B097;
  }
  
  .btn {
    margin-top: auto;
  }

  .faraday {
    border: 2px;
    border: white;
    border-radius: 5px;

  }

  .faraday-desc h1{
    color: white;
    font-size: 50px;
    font-family: "Abraham";
  }

  .faraday-desc p {
    font-size: large;
    font-family: "Roboto-Slab";
    color: white;
  }