{% extends 'hub/main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/create_datapool.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
            <h1 class="text-center">Create your Datapool!</h1>
            <form method="POST" action="" class="form-signin">
                {% csrf_token %}

                <hr>
                <label>Name</label>
                <div class="form-label-group">
                    
                    <input type="text" name="name" id="inputName" style="font-size: 15px;" placeholder="Name" class="form-control" required autofocus>
                </div>

                <label>Description</label>
                <div class="form-label-group">
                    <input type="text" name="description" style="font-size: 15px;" id="inputDesc" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your questions... (seperated by ,)</label>
                    <textarea name="questions" style="font-size: 15px;" placeholder="How high were the tides on January?, What about February?" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <hr>
                <label for="ecap">Entry Cap</label>
                <div class="form-label-group">
                    <input type="text" style="font-size: 15px;" name="cap" id="ecap" class="form-control" required>
                    
                </div>

                <br>
                <label for="cate">Category</label>
                <div class="form-label-group">
                
                    <input type="text" id="cate" style="font-size: 15px;" name="category" class="form-control" required>
                    
                </div>

                <hr>
                <div>
                    <label>Or... input a .csv reference instead!</label>
                    <input class="form-control form-control-lg" name="file" id="formFileLg" type="file" />
                </div>
                <br>
                <button style="margin-left: 42%;" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit datapool</button>
                <hr class="my-4">
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}
