{% extends 'hub/main.html' %}
{% load static %}

{% block styles %}
<!--Css-->
<link rel="stylesheet" href="{% static 'css/hub.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

<!--Arbor-->
<script src="{% static 'lib/arbor.js' %}"></script>
<script src="{% static 'lib/arbor-tween.js' %}"></script>
<script src="{% static 'js/hub.js' %}"></script>
{% endblock styles %}

{% block content %}
    <canvas id="viewport" height="800" width="600"></canvas>


    <div class="container">
        <div class="row">
        <div class="col-md-3">
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">12</span>
            <span class="count-name">Flowz</span>
        </div>
        </div>

        <div class="col-md-3">
        <div class="card-counter danger">
            <i class="fa fa-ticket"></i>
            <span class="count-numbers">599</span>
            <span class="count-name">Instances</span>
        </div>
        </div>

        <div class="col-md-3">
        <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">6875</span>
            <span class="count-name">Data</span>
        </div>
        </div>

        <div class="col-md-3">
        <div class="card-counter info">
            <i class="fa fa-users"></i>
            <span class="count-numbers">35</span>
            <span class="count-name">Users</span>
        </div>
        </div>
    </div>
    </div>

{% endblock content %}